/* @font-face{
  font-family: HelveticaNowThin;
  src: url("/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Thin.woff2")
}  
@font-face{
  font-family: HelveticaNowLight;
  src: url("/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Light.woff2")
}  
@font-face{
  font-family: HelveticaNowRegular;
  src: url("/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Regular.woff2")
}  
@font-face{
  font-family: HelveticaNowMedium;
  src: url("/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Medium.woff2")
}  
@font-face{
  font-family: HelveticaNowBold;
  src: url("/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Bold.woff2")
}   */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import "tailwindcss";

@plugin 'tailwind-scrollbar';


body {
      margin: 0; line-height: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */
}

.goog-te-banner-frame.skiptranslate,
body > .goog-te-banner-frame {
  display: none !important;
}


/* @theme{
  --font-helvetica-thin: HelveticaNowThin , "sans-serif";
  --font-helvetica-light: HelveticaNowLight , "sans-serif";
  --font-helvetica-regular: HelveticaNowRegular , "sans-serif";
  --font-helvetica-medium: HelveticaNowMedium , "sans-serif";
  --font-helvetica-bold: HelveticaNowBold , "sans-serif";
} */



